@import url('../__url-website/places__url-website.css');

.places__url {
    align-self: flex-end;
    width: 486px;
    height: 52px;
    line-height: 30px;
    font-size: 12px;
    letter-spacing: 0.2em;
    color: #aaaaaa;
    text-decoration: none;
    white-space: pre-line;
    margin-bottom: 60px;

    font-family: 'Inter';
    font-weight: normal;
}


@media screen and (max-width : 1220px) {
    .places__url {
        width: 456px;
        margin-bottom: 55px;
    }
}

@media screen and (max-width : 1023px) {
    .places__url {
        width: 48.8%;
        margin-bottom: 60px;
    }
}

@media screen and (max-width : 550px) {
    .places__url {
        width: 100%;
        margin-left: 4.2vw;
        margin-bottom: 21px;
        line-height: 24px;
    }
}