.barentsburg__url-website {
    line-height: 31px;
    font-size: 18px;
    letter-spacing: 0em;
    color: #ffffff;
    border-bottom: 1px solid white;

    font-family: 'Inter';
    font-weight: normal;
}

.barentsburg__url-website:hover {
    opacity: 0.7;
}