.comments__container {
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    width: 382px;
    margin-top: 72px;
}

@media screen and (max-width : 1280px) {
    .comments__container {
        width: 32%;
    }
}

@media screen and (max-width : 768px) {
    /* стили для нетбуков */
    .comments__container {
        align-items: center;
        justify-content: space-between;
        width: 382px;
        margin-top: 75px;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .comments__container {
        margin-top: 55px;
    }

    .comments__container:last-child {
        margin-top: 58px;
    }
}

@media screen and (max-width : 320px) {
    /* стили для малого смартфона */
    .comments__container {
        margin-top: 55px;
    }

    .comments__container:nth-child(3) {
        margin-top: 45px;
    }
}
