@import url('__title/description__title.css');
@import url('__subtitle/description__subtitle.css');
@import url('__two-columns/description__two-columns.css');
@import url('__statistics/description__statistics.css');

.description {
    flex-direction: column;
    width: 984px;
    margin: 80px auto 90px;
}


@media screen and (max-width : 1220px) {
    /* стили для нетбуков */
    .description {
        width: 928px;
        margin: 81px auto 86px;
    }
}

@media screen and (max-width : 1000px) {
    .description {
        width: calc(720/768*100%);
        margin: 80px auto 87px;
    }
}

@media screen and (max-width : 767px) {
    .description {
        margin: 64px auto;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .description {
        width: calc(344/375*100%);
    }
}

@media screen and (max-width : 320px) {
    /* стили для малого смартфона */
    .description {
        width: calc(288/320*100%);
    }
}