.cover__title {
    position: absolute;
    left: 0;
    right: 0;

    top: 46.9%;
    width: 100%;
    line-height: 78px;
    text-align: center;
    font-size: 72px;
    color: #FFFDFD;
    margin: 0 auto;

    font-family: 'Inter';
    font-weight: 900;
}


@media screen and (max-width : 1024px) {
    /* стили для нетбуков */
    .cover__title {
        top: 36%;
        width: 550px;
    }
}

@media screen and (max-width : 768px) {
    /* стили для планшета */
    .cover__title {
        top: 34%;
        width: 70%;
    }
}

@media screen and (max-width : 767px) {
    .cover__title {
        width: 400px;
        line-height: 55px;
        font-size: 54px;
    }
}

@media screen and (max-width : 500px) {
    .cover__title {
        top: 38%;
        width: 370px;
        line-height: 35px;
        font-size: 32px;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .cover__title {
        top: 39%;
        width: 60%;
    }
}

@media screen and (max-width : 374px) {
    /* стили для малого смартфона */
    .cover__title {
        top: 30%;
        width: 250px;
    }
}

@media screen and (max-width : 320px) {
    /* стили для малого смартфона */
    .cover__title {
        top: 30%;
        width: 75%;
    }
}
