.lead__title {
    display: flex;
    width: 782px;
    height: 184px;
    text-align: center;
    line-height: 94px;
    font-size: 96px;
    margin: 0px auto;

    font-family: 'Inter';
    font-weight: 900;
}

@media screen and (max-width : 1024px) {
    /* стили для нетбуков */
    .lead__title {
        width: 90%;
    }
}

@media screen and (max-width : 768px){
    .lead__title {
        width: 100%;
    }
}


@media screen and (max-width : 700px) {
    .lead__title  {
        justify-content: center;
        text-align: center;
        width: 90%;
        height: 100%;
        line-height: 51px;
        font-size: 50px;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .lead__title {
        min-width: 70%;
        line-height: 43px;
        font-size: 40px;
    }
}
