@import url('../vendor/normalize.css');
@import url('../blocks/header/header.css');
@import url('main-page/content.css');
@import url('../blocks/footer/footer.css');

@font-face {
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
         url('../fonts/Inter-Regular.woff') format('woff'),
         url('../fonts/Inter-Regular.otf') format('otf'),
         url('../fonts/Inter-Regular.ttf') format('ttf');
    font-family: 'Inter';
    font-weight: normal;
}

@font-face {
    src: url('../fonts/Inter-Medium.woff2') format('woff2'),
         url('../fonts/Inter-Medium.woff') format('woff'),
         url('../fonts/Inter-Medium.otf') format('otf'),
         url('../fonts/Inter-Medium.ttf') format('ttf');
    font-family: 'Inter';
    font-weight: 500;
}

@font-face {
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
         url('../fonts/Inter-Bold.woff') format('woff'),
         url('../fonts/Inter-Bold.otf') format('otf'),
         url('../fonts/Inter-Bold.ttf') format('ttf');
    font-family: 'Inter';
    font-weight: bold;
}

@font-face {
    src: url('../fonts/Inter-Black.woff2') format('woff2'),
         url('../fonts/Inter-Black.woff') format('woff'),
         url('../fonts/Inter-Black.otf') format('otf'),
         url('../fonts/Inter-Black.ttf') format('ttf');
    font-family: 'Inter';
    font-weight: 900;
}


html {
    font-size: 16px;
}

body {
    font-family: -apple-system,
                 BlinkMacSystemFont,
                 "Segoe UI",
                 Ubuntu,
                 Cantarell,
                 "Helvetica Neue",
                 sans-serif;
}

.page {
    min-width: 320px;
    margin: 0 auto;
    background-color: #2A2C2F;
    color: #ffffff;
    font-family: 'Inter';

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}