.section-title {
    display: block;
    width: 900px;
    text-align: center;
    margin: 0px auto;
    line-height: 78px;
    font-size: 72px;
    padding: 0px;

    font-family: 'Inter';
    font-weight: 900;
}

.comments .section-title {
    line-height: 63px;
}


@media screen and (max-width : 1024px) {
    .comments .section-title {
        width: 90%;
        line-height: 65px;
    }
}

@media screen and (max-width : 1000px) {
    .section-title {
        width: 100%;
    }
}

@media screen and (max-width : 975px) {
    .video .section-title {
        width: 70%;
    }

    .section-title {
        line-height: 60px;
        font-size: 57px;
    }
}

@media screen and (max-width : 768px) {
    /* стили для планшета */
    .section-title {
        line-height: 45px;
        font-size: 42px;
    }

    .video .section-title {
        width: 60%;
    }

    .comments .section-title {
        width: 85%;
        line-height: 45px;
    }
}

@media screen and (max-width : 670px) and (min-width : 376px) {
    .section-title {
        width: 100%;
        line-height: 46px;
        font-size: 42px;
    }

    .video .section-title {
        width: 100%;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .section-title {
        width: 100%;
        line-height: 35px;
        font-size: 32px;
    }

    .video .section-title {
        width: 95%;
    }

    .comments .section-title {
        width: 100%;
        line-height: 35px;
    }
}


@media screen and (max-width : 320px) {
    /* стили для малого смартфона */
    .section-title {
        min-width: 100%;
    }
}