.footer__service {
    display: inline;
    list-style-type: none; /* Убираем маркеры */
    font-size: 24px;
    margin: 0px 11px 0px 0px;

    font-family: 'Inter';
    font-style: normal;
}

.footer__service a {
    text-decoration: none;
    color: #ffffff;
}

.footer__service a:hover {
    opacity: 0.7;
}


@media screen and (max-width : 1023px) and (min-width : 769px) {
    .footer__service {
        font-size: 16px;
        line-height: 34px;
    }
}

@media screen and (max-width : 768px) {
    /* стили для планшета*/
    .footer__service {
        font-size: 16px;
        line-height: 34px;
        margin: 0px 17px 0px 0px;
    }
}

@media screen and (max-width : 767px) {
    /* стили для среднего и малого смартфона */
    .footer__service {
        display: block;
        line-height: 25px;
        font-size: 24px;
        margin: 0px 0px 30px 0px;
    }

    .footer__service:last-of-type {
        margin-bottom: 35px;
    }
}
