.video__items-container {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 583px;
    height: 323px;
    border-radius: 5px;
}

.video__items-container:nth-of-type(1) {
    z-index: 3;
}

.video__items-container:nth-of-type(2) {
    z-index: 3;
}

@media screen and (max-width : 1280px) {
    .video__items-container {
        width: 49.3%;
    }
}

@media screen and (max-width : 1024px) {
    /* стили для нетбуков */
    .video__items-container {
        max-width: 456px;
        min-height: 288px;
    }
}

@media screen and (max-width : 1025px) {
    .video__items-container {
        height: calc(288/323*100%);
    }
}

@media screen and (max-width : 768px) {
    .video__items-container {
        max-width: 352px;
        min-height: 200px;
    }
}

@media screen and (max-width : 670px) and (min-width : 376px) {
    .video__items-container {
        min-width: 100%;
        min-height: 48.3%;
        margin-top: 3.4%;
    }

    .video__items-container:first-child {
        margin-top: 0;
    }
}

@media screen and (max-width : 375px) {
    .video__items-container {
        width: 100%;
        min-height: 200px;

        margin-top: 8px;
    }

    .video__items-container:first-child {
        margin-top: 0;
    }
}

@media screen and (max-width : 320px) {
    .video__items-container {
        width: 100%;
        min-height: 192px;
    }
}