.comments__name {
    height: 13px;
    font-size: 14px;
    margin: 0;

    font-family: Inter;
    font-weight: 900;
}

@media screen and (max-width : 768px) {
    /* стили для планшета */
    .comments__name {
        margin-top: 17px;
        order: 1;
    }
}
