.barentsburg__geographic-coordinates {
    height: 40px;
    font-size: 41px;
    margin: 20px 0 48px;

    font-family: 'Inter';
    font-style: normal;
}


@media screen and (max-width : 767px) {
    .barentsburg__geographic-coordinates {
        margin-left: 3.125%;
    }
}

@media screen and (max-width : 602px) and (min-width : 376px) {
    .barentsburg__geographic-coordinates {
        line-height: 23px;
        font-size: calc(16/375*100vw);
        margin: 20px 0 16px 3.125%;
    }
}

@media screen and (max-width : 375px) {
    .barentsburg__geographic-coordinates {
        line-height: 16px;
        font-size: 16px;
        margin: 0px 0px -3px 4%;
    }
}

@media screen and (max-width : 320px) {
    .barentsburg__geographic-coordinates {
        margin-bottom: 0px;
    }
}
