.cover__container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 594px;
    width: 1184px;
    margin: 0 auto;
}

.cover__container:hover .cover__poster {
    opacity: 0.56;
}

@media screen and (max-width : 1184px)  {
    .cover__container  {
        width: 100%;
    }
}

@media screen and (max-width : 768px) {
    /* стили для планшета */
    .cover__container  {
        height: 500px;
    }
}

@media screen and (max-width : 600px) {
    .cover__container  {
        height: 340px;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .cover__container  {
        height: 272px;
    }
}

@media screen and (max-width : 320px) {
    /* стили для малого смартфона */
    .cover__container  {
        height: 216px;
    }
}